/* General */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: "Kanit", sans-serif;
}


/* Navigation */

.container {
    width: auto;
    position: relative;
    right: 180px;
    top: 40px;
}

nav {
    float: right;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    border-bottom: 3px solid white;
    transition: .2s;
}

/* Banner */
.bg-img {
    background-image: url(../images/banner.jpg);
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.intro {
    position: relative;
    top: 295px;
    left: 750px;
    display: inline-block;
    font-size: 36px;
    color: whitesmoke;
    line-height: 1.2;
}

.intro h1  {
    font-weight: 400;
}

.intro p {
    font-size: 30px;
    text-align: center;
}


