/* General */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: "Kanit", sans-serif;
}


/* Navigation */

.container {
    width: auto;
    position: relative;
    right: 100px;
    top: 40px;
}

nav {
    float: right;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    border-bottom: 3px solid white;
    transition: .2s;
}

/* Banner */
.bg-img {
    background-image: url(../images/banner.jpg);
    height: 975px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.intro {
    position: relative;
    top: 300px;
    left: 38%;
    display: inline-block;
    font-size: 50px;
    color: black;
    line-height: 1.2;
}

.intro h1  {
    font-weight: 700;
    letter-spacing: 2px;
}

.intro p {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

/* Projects */
.projects {
    background: linear-gradient(#03060f, #1b4a69);
}
.projects h2 {
    color: white;
    font-size: 46px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 60px;
    padding-top: 40px;
}

.container-image {
    display: inline-block;
    position: relative;
    left: 195px;
    padding-bottom: 95px;
}

.container-image img {
    height: 400px;
    width: 400px;
    margin-right: 150px;
}

/* Contact */
/*
.contact {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background: linear-gradient(#3a8294, #03060f);
}

.contact h2 {
    font-size: 46px;
    font-weight: 400;
    color:rgb(170, 180, 184);
    padding-bottom: 20px;
}

.contact img {
    height: 40px;
    width: 40px;
}
*/

/* Footer */
footer {
    padding-top: 80px;
    padding-right: 25px;
    font-size: 25px;
    background: linear-gradient(#1b4a69, #69a3ca);
    color: white;
}

footer h2 {
    font-size: 46px;
    font-weight: 400;
}

.footer-text-left, footer h2 {
    text-align: center;
}

.container-logo {
    padding-top: 15px;
    padding-bottom: 40px;
}

.container-logo img {
    position: relative;
    left: 855px;
    height: 45px;
    width: 45px;
    text-align: center;
}